<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Campground</title>
  </head>
  <body>
    <h1>Add new campground</h1>
    <section>
      <form action="/campgrounds" method="post">
        <label for="title">Campground Title</label>
        <input type="text" name="title" id="title" placeholder="Enter Title" />
        <label for="location">Campground Location</label>
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Enter location"
        />
        <button type="submit">Add</button>
      </form>
    </section>
  </body>
</html>
